body{
	background-color:white;
	margin:auto;
	z-index:10;
}

.space{
	height:100px;
	width:100%;
	padding-top:180px;
}
.navbar{
	background-color: #14b5d0;
	opacity:0.8;
}

ul.navbar-nav{
	padding-left: 20%;
	padding-right: 20%;
	font-size: 25px;
	text-align: center;
}
a{
	color: white;
  text-decoration: none;
}
.wrapper{
	height:100%;
	width:100%;
}
.navbar-brand{
 font-size:45px;
 font-weight: bold;
}

.w2{
	height:100%;
	width:50%;
	float:left;
	padding-top:2%
}
.w3{
	height:100%;
	width:45%;
	float:right;
	padding-top:2%;
}
.wrapper2{
	height:600px;
	width:30%;
	background-color:#14b5d0;
	float:right;
	padding-bottom:200px;
	padding-top:100;
}

h1{
	float:right;
	font-size:80px;

}
p{
	font-size:20px;

}
.nav-link:hover{
	opacity:1;
	text-decoration: none;


}
h2{
	font-size:45px;


}

h3{
	font-size:20px;
	color:#14b5d0;

}

.social{
	padding-top:500px;
	height:200px;
	width:100%;

}

#fb{
	height:39px;
	width:50px;
	padding-left:10px;
}
#tw{
	height:40px;
	width:50px;
	padding-left:10px;
}
